{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ],
    "react/jsx-closing-bracket-location": [
      0
    ],
    "react/forbid-prop-types": [
      "error",
      {
        "forbid": [
          "any"
        ]
      }
    ],
    "linebreak-style": [0, "windows"],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "no-use-before-define": [0],
    "max-len": [1, 200],
    "no-param-reassign": [1]
  },
  "parser": "babel-eslint"
}
