/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



nav,footer {
  background-color: #2D2727 !important;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
  background-color: #F4F4F4
}

.logo {
  width: 100%;
  max-width: 8rem;
}

.width-100 {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.footer-copyright {
  padding: 2rem 0rem !important;
}

.favorites-col {
  background-color: #EBEBEB ;
}

.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-space {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.card {
  width: 27rem;
  margin: 0 10px;
  margin-bottom: 3rem !important; 
  margin-top: 2rem !important;
}

.card:nth-child(1), .card:nth-child(2) {
  margin-top: 2rem !important;
}

.margin-top-3rem {
  margin-top:  3rem;
}

.card-description.truncate {
    display: block;
    white-space: normal;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.related-text {
    position: relative;
    top: 52px;
}

.card-title {
  font-weight: bolder !important;
  position: relative !important;
  top: -18px !important;
}

.card-description {
  position: relative !important;
  top: -18px !important;
}

.circle {
  border-radius: 50% !important;
}

.card-image img {
    left: -20px !important;
    top: -20px !important;
    height: 170px !important;
    width: 170px !important;
    max-height: 170px !important;
    max-width: 170px !important;
}

.shadow { 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.main-container {
  margin-top: 2rem; 
}

.collapsible {
  margin: 0 !important;
  box-shadow: none !important;
  border: none !important;
}

.collapsible-body {
  padding: 0.8rem;
}

.collapsible-header {
    position: relative;
    width: 10rem;
    right: 45px;
    bottom: 40px;
    float: right;
    text-decoration: none;
    color: #fff;
    background-color: red;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    min-height: inherit !important;
    -webkit-tap-highlight-color: transparent;
}

.collapsible-body {
  border: 0;
}


.modal {
  background-color: white;
}


.modal-footer {
  display: none;
}

.modal-close {
   padding: 1rem;
}

.modal .modal-content {
  padding: 0;
  overflow: hidden;
}

.modal-favorite-button {
  height: 70px;
  width: 50%;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3D3332;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.4s;
}

.modal-favorite-button:hover {
  background-color: rgba(50, 40, 39, 0.7);
}

.modal-favorited-button {
  height: 70px;
  width: 50%;
  background-color: #322827;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-shop-button {
  height: 70px;
  width: 50%;
  background-color: #DCDCDC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.margin-right-10px {
  margin-right: 10px;
}

.margin-bot-1rem {
  margin-bottom: 1rem;
}

.comic-text {
  color: #796F6E;
  display: block;
}

.collapsible-body .comic-text:hover {
  color: red;
  display: block;
  cursor: pointer;
  background-image: url('../assetics/icons/link-arrow.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}